### Initialisation

Initialise postgres database (revolut:postgres/password)

In [1]:
import psycopg2
import pandas as pd
import numpy as np
import csv
from sqlalchemy import create_engine

In [2]:
conn = psycopg2.connect('host=localhost dbname=revolut user=postgres password=password')
cur = conn.cursor()
engine = create_engine("postgresql://{user}:{pw}@localhost/{db}"
                       .format(user="postgres",
                               pw="password",
                               db="revolut"))

Create Tables

In [3]:
# drop existing tables
str_droptables = """
GRANT ALL ON SCHEMA public TO postgres;
GRANT ALL ON SCHEMA public TO public;

DROP SCHEMA public CASCADE;
CREATE SCHEMA public;
"""
cur.execute(str_droptables)

In [4]:
str_createtables = """
create table transactions (
currency character(3) not null,
amount bigint not null,
state varchar(25) not null,
created_date timestamp not null,
merchant_category varchar(100),
merchant_country varchar(3),
entry_method varchar(4) not null,
user_id uuid not null,
type varchar(20) not null,
source varchar(20) not null,
id uuid,
primary key (id)
);

create table users (
id uuid,
has_email boolean not null,
phone_country varchar(300),
terms_version date,
created_date timestamp not null,
state varchar(25) not null,
country varchar(2),
birth_year integer,
kyc varchar(20),
failed_sign_in_attempts integer,
primary key(id)
);

create table fx_rates (
base_ccy varchar(3),
ccy varchar(10),
rate double precision
);

create table currency_details (
ccy varchar(10),
iso_code integer,
exponent integer,
is_crypto boolean not null,
primary key (ccy)
);

create table countries (
code varchar(2),
name varchar(300) not null,
code3 varchar(3),
numcode integer,
phonecode integer
);
"""

cur.execute(str_createtables)
conn.commit()

Import data from csvs

In [5]:
countries = pd.read_csv(r'countries.csv')
countries.to_sql('countries', con=engine, if_exists='append', index=False, chunksize=1000)

In [6]:
# str_test = 'select count(*) from countries;'
# cur.execute(str_test)
# results = cur.fetchall()
# print(results)

In [7]:
currency_details = pd.read_csv(r'currency_details.csv')
currency_details.rename(columns={'currency':'ccy'}, inplace=True)
currency_details.to_sql('currency_details', con=engine, if_exists='append', index=False, chunksize=1000)

In [8]:
# str_test = 'select count(*) from transactions;'
# cur.execute(str_test)
# results = cur.fetchall()
# print(results)

In [9]:
fx_rates = pd.read_csv(r'fx_rates.csv')
fx_rates.to_sql('fx_rates', con=engine, if_exists='append', index=False, chunksize=1000)

In [10]:
transactions = pd.read_csv(r'transactions.csv')
transactions.rename(columns={'CURRENCY':'currency','AMOUNT':'amount','STATE':'state','CREATED_DATE':'created_date','MERCHANT_CATEGORY':'merchant_category','MERCHANT_COUNTRY':'merchant_country','ENTRY_METHOD':'entry_method','USER_ID':'user_id','TYPE':'type','SOURCE':'source','ID':'id'}, inplace=True)

Some merchant_country values are too long

In [11]:
transactions['merchant_country'] = transactions['merchant_country'].str.slice(0,3)

In [12]:
transaction_old = transactions.copy()
transactions = transactions.drop(columns='Unnamed: 0')

In [13]:
transactions.to_sql('transactions', con=engine, if_exists='append', index=False, chunksize=1000)

In [14]:
users = pd.read_csv(r'users.csv')
users.rename(columns={'id'.upper():'id','has_email'.upper():'has_email','phone_country'.upper():'phone_country','terms_version'.upper():'terms_version','created_date'.upper():'created_date','state'.upper():'state','country'.upper():'country','birth_year'.upper():'birth_year','kyc'.upper():'kyc','failed_sign_in_attempts'.upper():'failed_sign_in_attempts'}, inplace=True)
# has_email field is boolean according to schema (currently 1/0: assume 1 => True)
users['has_email'] = users['has_email']==1
users.drop(columns='Unnamed: 0').to_sql('users', con=engine, if_exists='append', index=False, chunksize=1000)

### 1. SQL Query FIX

Query Intention: Shows sum total transaction amounts in EUR each user made per country for transactions sourced from "GAIA"

Original, non-working SQL:

In [15]:
str_query = """
WITH processed_users
AS 
(SELECT LEFT (u.phone_country , 2 ) AS short_phone_country ,
u.id
FROM users u)

SELECT t.user_id, t.merchant_country, Sum (t.amount / fx.rate / Power (10, cd.exponent)) AS amount
FROM transactions t

JOIN fx_rates fx
ON 
(fx.ccy = t.currency
AND fx.base_ccy = 'EUR')

JOIN currency_details cd
ON cd.ccy = t.currency

JOIN processed_users pu
ON pu.id = t.user_id

WHERE t.source = 'GAIA'

AND pu.short_phone_country = t.merchant_country

GROUP BY t.user_id,
t.merchant_country

ORDER BY amount DESC;
"""
cur.execute(str_query)
results = cur.fetchall()
print(results)

[]

Fixed errors: <br/>
1."currency" field does not exist in currency_details table (it's called "ccy" according to schema)<br/>2. Tries to join transaction table's "merchant_country" field (varchar(3)) to processed_users "short_phone_country" which has been setup as 2 characters

In [16]:
str_query = """
WITH processed_users
AS 
(SELECT LEFT (u.phone_country , 2 ) AS short_phone_country, u.id
FROM users u)

SELECT t.user_id, t.merchant_country, Sum (t.amount / fx.rate / Power (10, cd.exponent)) AS amount
FROM transactions t

JOIN fx_rates fx
ON 
(fx.ccy = t.currency
AND fx.base_ccy = 'EUR')

JOIN currency_details cd
ON cd.ccy = t.currency

JOIN processed_users pu
ON pu.id = t.user_id

WHERE t.source = 'GAIA'

AND pu.short_phone_country = left(t.merchant_country,2)

GROUP BY t.user_id,
t.merchant_country

ORDER BY amount DESC

LIMIT 10;
"""
cur.execute(str_query)
results = cur.fetchall()
print(results)

[('f4f81f33-7ae1-45f3-9011-3ef47ae51d38', 'HUN', 299317598.14843714), ('c649559f-8f5e-4a3e-901f-46aeeccde74d', 'HUN', 81117252.77073133), ('74fdc60d-ee12-47c1-85f0-1c7dd1dbbf16', 'HUN', 76878611.20641504), ('33930839-d0f3-478c-a807-8b5c1de9f5dd', 'JPN', 21755975.956646394), ('47a0a032-fd77-4161-aee7-51b0f804d4b2', 'HUN', 16681469.761387782), ('3c1aa14d-818a-474f-847f-3d24907dd1c7', 'HUN', 12865527.401201654), ('65815942-9d63-42d9-a64d-85f8b3bef819', 'HUN', 9683314.26919845), ('9ff7ad28-2b96-4db2-9980-62d48d6d7b3a', 'HUN', 8351035.7443168275), ('b7496a8d-ffd1-4f56-864d-2ad25bafc243', 'HUN', 5242486.349094559), ('dd672c5e-0cab-4a94-9a93-98334a6b9150', 'HUN', 5024811.514295287)]

### 2. Query to identify users whose first transaction was successful card payment over USD 10 equivalent

In [17]:
print(transactions['type'].unique())
print(transactions['state'].unique())

['CARD_PAYMENT' 'P2P' 'TOPUP' 'ATM' 'BANK_TRANSFER']
['COMPLETED' 'REVERTED' 'DECLINED' 'FAILED' 'RECORDED' 'CANCELLED'
 'PENDING']

In [18]:
str_query = """

SELECT t.user_id, (t.amount / fx.rate / Power(10, cd.exponent)) AS USD_amount

FROM transactions t

JOIN fx_rates fx
    ON (fx.ccy = t.currency
    AND fx.base_ccy = 'USD')
JOIN currency_details cd
    ON cd.ccy = t.currency

JOIN
(
SELECT t.user_id, MIN(t.created_date) as first_tx
FROM transactions t
GROUP BY
    t.user_id
) first_tx
ON
    first_tx.user_id = t.user_id
    AND
    first_tx.first_tx = t.created_date

WHERE
    (t.amount / fx.rate / Power(10, cd.exponent)) > 10
    AND
    t.type = 'CARD_PAYMENT'
    AND state = 'COMPLETED'

LIMIT 10
;
"""

cur.execute(str_query)
results = cur.fetchall()
print(results)

[('2eb7c137-056b-4a3f-9f98-f2bc4bc2d982', 15.910222620100356), ('ef051a6c-c0fc-4b29-aea1-2d5c8eec1ade', 15.299592493910568), ('84382c07-626d-4220-bdd7-79e0d88aa850', 15.137440378552624), ('e18b2729-3b60-4a93-932d-a66551870ea7', 13.754350632705393), ('484253ae-3dd7-402e-8565-0b2b612554b3', 14.560932922894908), ('ef628625-caa8-4a9d-ac5c-8163935a711f', 23.348434716012243), ('09dcf1ba-e33e-4877-867e-173fe9786b6f', 12.65060644613027), ('de2e0774-a1e0-47a7-9d9a-bdb992aa3151', 152.93517880333363), ('99f2b2d4-05f2-4791-981e-ca1bb90c56c8', 97.93607070880046), ('b7496a8d-ffd1-4f56-864d-2ad25bafc243', 56095.7581303551)]

### Validate results

In [19]:
print(transactions[transactions['user_id']=='2eb7c137-056b-4a3f-9f98-f2bc4bc2d982'].sort_values(by=['created_date']).head(5))
print(transactions[transactions['user_id']=='484253ae-3dd7-402e-8565-0b2b612554b3'].sort_values(by=['created_date']).head(5))
print(transactions[transactions['user_id']=='de2e0774-a1e0-47a7-9d9a-bdb992aa3151'].sort_values(by=['created_date']).head(5))

      currency  amount      state                created_date  \
10001      GBP    2100  COMPLETED  2015-08-04 21:36:00.477000
9993       GBP     397  COMPLETED  2015-08-04 21:55:18.736000

      merchant_category merchant_country entry_method  \
10001               NaN              HUN         misc
9993                NaN              RUS         misc

                                    user_id          type source  \
10001  2eb7c137-056b-4a3f-9f98-f2bc4bc2d982  CARD_PAYMENT   GAIA
9993   2eb7c137-056b-4a3f-9f98-f2bc4bc2d982  CARD_PAYMENT   GAIA

                                         id
10001  dfcce386-edcc-4baa-8e15-07ee3082b5d5
9993   3e42b8a1-cbc6-4dff-a48e-b7917979fe84
      currency  amount      state                created_date  \
42039      EUR    1715  COMPLETED  2016-09-21 16:50:33.567000
43689      EUR   30000   DECLINED  2016-10-03 10:19:06.046000
43690      EUR   30000   DECLINED  2016-10-03 10:20:48.373000
43444      EUR   30000   DECLINED  2016-10-04 05:04:49.425000
42794      EUR   30000  COMPLETED  2016-10-05 05:29:25.443000

      merchant_category merchant_country entry_method  \
42039               NaN              IRL         manu
43689               NaN              CYP         chip
43690               NaN              CYP         chip
43444               NaN              CYP         chip
42794              bank              196         chip

                                    user_id          type source  \
42039  484253ae-3dd7-402e-8565-0b2b612554b3  CARD_PAYMENT   GAIA
43689  484253ae-3dd7-402e-8565-0b2b612554b3           ATM   GAIA
43690  484253ae-3dd7-402e-8565-0b2b612554b3           ATM   GAIA
43444  484253ae-3dd7-402e-8565-0b2b612554b3           ATM   GAIA
42794  484253ae-3dd7-402e-8565-0b2b612554b3           ATM   GAIA

                                         id
42039  ee909f43-ec54-43da-be47-f53bf1a9713a
43689  f1d55941-fb24-409a-ada1-1958b0a4a701
43690  020b9cee-3079-486f-a618-a1dbecd85cbb
43444  f3975392-ff11-4392-ab16-a416c2842994
42794  d0e1eaaa-bd7e-48e7-bac9-cbdf8ad52c5a
       currency  amount      state                created_date  \
302319      PLN    4299  COMPLETED  2018-01-28 14:15:16.082000
686539      PLN    2996  COMPLETED  2018-01-28 14:29:35.455000
686430      PLN    3000  COMPLETED  2018-01-28 17:12:21.611000
300705      NOK   23072  COMPLETED  2018-01-28 19:55:06.597000
310096      PLN   10800  COMPLETED  2018-01-29 10:35:31.896000

       merchant_category merchant_country entry_method  \
302319               NaN              POL         cont
686539             store              POL         cont
686430               NaN              POL         cont
300705               NaN              POL         cont
310096               NaN              POL         cont

                                     user_id          type source  \
302319  de2e0774-a1e0-47a7-9d9a-bdb992aa3151  CARD_PAYMENT   GAIA
686539  de2e0774-a1e0-47a7-9d9a-bdb992aa3151  CARD_PAYMENT   GAIA
686430  de2e0774-a1e0-47a7-9d9a-bdb992aa3151  CARD_PAYMENT   GAIA
300705  de2e0774-a1e0-47a7-9d9a-bdb992aa3151  CARD_PAYMENT   GAIA
310096  de2e0774-a1e0-47a7-9d9a-bdb992aa3151  CARD_PAYMENT   GAIA

                                          id
302319  b0690ed8-fa1b-4c1b-b553-8679f7a8c675
686539  4cb3fc54-3067-48dc-99e1-2654a959e475
686430  806be430-cd51-49e1-bb21-443099130c2d
300705  3173d7bf-2690-41ed-93ce-c58d46c19acf
310096  61bdc25f-a9f4-42ed-bcb7-90e6acf8e923

### 3. Find 5 likely fraudsters (incomplete)

Categorical variables - converting using OneHotEncoding <br/>
Test ML models to work out best performance and apply to datasets (transactions & users) to understand best predicting factors behind fraudulent transactions/users

Load fraudster list

In [ ]:
fraudsters = pd.read_csv(r'fraudsters.csv')
fraudsters = fraudsters.drop(columns='Unnamed: 0')
# fraudsters.to_sql('fraudsters', con=engine, if_exists='append', index=False, chunksize=1000)

In [ ]:
transactions['marker']=1

In [ ]:
joined = pd.merge(fraudsters, transactions, on=['user_id'], how='left')
# np.count_nonzero(joined.user_id.unique())
joined.shape

In [ ]:
print(joined[joined['marker']!=1])
print(transactions[transactions['user_id']=='5270b0f4-2e4a-4ec9-8648-2135312ac1c4'])
# this id is not found in the transactions log

Tag fraudsters in transactions table

In [ ]:
# transactions.loc[transactions['user_id'].isin(fraudsters['user_id'])]
transactions['fraud'] = 0
transactions.loc[transactions['user_id'].isin(fraudsters['user_id']), 'fraud'] = 1

In [ ]:
transactions.columns

In [ ]:
fraud_trans = joined[joined['marker']==1]
fraud_trans.shape

In [ ]:
# check records have only reduced by 1 as expected (300 -> 299)
np.count_nonzero(fraud_trans.user_id.unique())

In [ ]:
fraud_trans_ord = fraud_trans.sort_values(by=['user_id', 'created_date', 'state']).drop('marker', axis=1)

In [ ]:
fraud_trans_ord.groupby(['merchant_category'])['user_id'].count().sort_values(ascending=False)

In [ ]:
np.count_nonzero(transactions['merchant_category'].unique())

In [ ]:
tbl_1 = fraud_trans_ord.groupby(['merchant_category'])['user_id'].count().sort_values(ascending=False)
tbl_2 = transactions.groupby(['merchant_category'])['user_id'].count().sort_values(ascending=False)
merchant_tbl = pd.concat([tbl_2, tbl_1], axis=1, join='outer', names=['transactions'])
merchant_tbl.columns = ['tx','fraud']
merchant_tbl['% fraud'] = merchant_tbl['fraud']/merchant_tbl['tx']
merchant_tbl.index.name = 'merchant'
merchant_tbl.sort_values('% fraud', ascending=False).head(10)

In [ ]:
np.count_nonzero(transactions['state'].unique())
transactions['state'].unique()

In [ ]:
tbl_1 = fraud_trans_ord.groupby(['state'])['user_id'].count().sort_values(ascending=False)
tbl_2 = transactions.groupby(['state'])['user_id'].count().sort_values(ascending=False)
state_tbl = pd.concat([tbl_2, tbl_1], axis=1, join='outer', names=['transactions'])
state_tbl.columns = ['tx','fraud']
state_tbl['% fraud'] = state_tbl['fraud']/state_tbl['tx']
state_tbl.index.name = 'tx state'
state_tbl.sort_values('% fraud', ascending=False)

In [ ]:
tbl_1 = fraud_trans_ord.groupby('type')['user_id'].count().sort_values(ascending=False)
tbl_2 = transactions.groupby('type')['user_id'].count().sort_values(ascending=False)
type_tbl = pd.concat([tbl_2, tbl_1], axis=1, join='outer', names=['transactions'])
type_tbl.columns = ['tx','fraud']
type_tbl['% fraud'] = type_tbl['fraud']/type_tbl['tx']
type_tbl.index.name = 'tx type'
type_tbl.sort_values('% fraud', ascending=False)

In [ ]:
transactions.groupby('type')['user_id'].count().sort_values(ascending=False)

In [ ]:
tbl_1 = fraud_trans_ord.groupby('entry_method')['user_id'].count().sort_values(ascending=False)
tbl_2 = transactions.groupby('entry_method')['user_id'].count().sort_values(ascending=False)
entry_tbl = pd.concat([tbl_2, tbl_1], axis=1, join='outer', names=['transactions'])
entry_tbl.columns = ['tx','fraud']
entry_tbl['% fraud'] = entry_tbl['fraud']/entry_tbl['tx']
entry_tbl.index.name = 'tx entry method'
entry_tbl.sort_values('% fraud', ascending=False)

In [ ]:
tbl_1 = fraud_trans_ord.groupby('source')['user_id'].count().sort_values(ascending=False)
tbl_2 = transactions.groupby('source')['user_id'].count().sort_values(ascending=False)
source_tbl = pd.concat([tbl_2, tbl_1], axis=1, join='outer', names=['transactions'])
source_tbl.columns = ['tx','fraud']
source_tbl['% fraud'] = source_tbl['fraud']/source_tbl['tx']
source_tbl.index.name = 'tx source'
source_tbl.sort_values('% fraud', ascending=False)

Get fraud indicator proportion for all user_ids

In [ ]:
f_users = users.drop(columns={'Unnamed: 0'}).copy()
f_users['fraud']=0

In [ ]:
joined = pd.merge(f_users, fraudsters, left_on=['id'], right_on=['user_id'], how='left')
fr_users = joined.drop(columns={'user_id'})
fr_users.loc[joined['user_id'].isin(fraudsters['user_id']), 'fraud'] = 1

In [ ]:
fr_users.head(2)

In [ ]:
fr_users['kyc'] = fr_users['kyc'].astype('category')
fr_users['birth_year'] = fr_users['birth_year'].astype('category')
fr_users['country'] = fr_users['country'].astype('category')
fr_users['state'] = fr_users['state'].astype('category')
fr_users['terms_version'] = fr_users['terms_version'].astype('category')
fr_users['phone_country'] = fr_users['phone_country'].astype('category')
fr_users['has_email'] = fr_users['has_email'].astype('category')
fr_users['fraud'] = fr_users['fraud'].astype('category')
fr_users['created_date'] = pd.to_datetime(fr_users['created_date'])

In [ ]:
# print(fr_users['kyc'].unique())
# print(fr_users['country'].unique())
# print(fr_users['has_email'].unique())
# print(fr_users['failed_sign_in_attempts'].unique())
# print(fr_users['birth_year'].unique())

for col in fr_users.columns:
    print(col, ': ', len(fr_users[col].unique()), 'labels')

In [ ]:
fra_users = fr_users.drop(['country', 'created_date', 'phone_country', 'birth_year'], axis=1).dropna().copy()
fra_users.columns

In [ ]:
def one_hot_top_x(df, variable, top_x_labels):
    for label in top_x_labels:
        df[variable+' '+str(label)] = np.where(df[variable]==label, 1, 0)

# top_10 = [x for x in fr_users['birth_year'].value_counts().sort_values(ascending=False).head(50).index]
one_hot_top_x(fra_users, 'failed_sign_in_attempts', [x for x in fra_users['failed_sign_in_attempts'].value_counts().sort_values(ascending=False).head(50).index])

In [ ]:
fra_users.head()

In [ ]:
# from sklearn.compose import ColumnTransformer
# from sklearn.preprocessing import StandardScaler
# from sklearn.preprocessing import OneHotEncoder

# t = ColumnTransformer(transformers=[
#     ('onehot', OneHotEncoder(), ['kyc', 'birth_year', 'country', 'state', 'terms_version', 'phone_country', 'has_email', 'fraud']),
#     ('scale', StandardScaler(), ['fraud','failed_sign_in_attempts', 'created_date', 'id'])
# ], remainder='passthrough')

# # t.fit_transform(fr_users)

In [ ]:
from sklearn.model_selection import train_test_split
X_train, X_test, y_train, y_test = train_test_split(fra_users.drop('fraud', axis=1), fra_users['fraud'], test_size=0.20, random_state=0)

In [ ]:
from sklearn.dummy import DummyClassifier
from sklearn.metrics import accuracy_score
baseline = DummyClassifier(strategy='most_frequent', random_state=0).fit(X_train, y_train)
y_pred = baseline.predict(X_test)
print(round(accuracy_score(y_test, y_pred),4))

In [ ]:
from sklearn.metrics import accuracy_score, log_loss
from sklearn.neighbors import KNeighborsClassifier
from sklearn.svm import SVC, LinearSVC, NuSVC
from sklearn.tree import DecisionTreeClassifier
from sklearn.ensemble import RandomForestClassifier, AdaBoostClassifier, GradientBoostingClassifier
from sklearn.discriminant_analysis import LinearDiscriminantAnalysis
from sklearn.discriminant_analysis import QuadraticDiscriminantAnalysis

classifiers = [
    KNeighborsClassifier(3),
    SVC(kernel="rbf", C=0.025, probability=True)
#     NuSVC(probability=True),
#     DecisionTreeClassifier(),
#     RandomForestClassifier(),
#     AdaBoostClassifier(),
#     GradientBoostingClassifier()
    ]

for classifier in classifiers:
    model = classifier.fit(X_train, y_train)
    print(classifier)
    print("model score: %.3f" % model.score(X_test, y_test))

In [ ]:
conn.close()